.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tab-game-frame {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #263d50f8;
}

.tab-game-name {
  color: white;
  margin-top: 10px;
}
.tab-game-details {
  color: gray;
  margin-top: 30px;
}
.body {
  background-color: #2d4a63;
}
.tag-button {
  background-color: #3d6181f8;
  color: white;
  width: 100px;
  height: 40px;
  margin: 5px 5px 5px 5px;
}
.tag-button:hover {
  background-color: #29455cf8;
}
.tag-category-header {
  color: white;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.login-frame {
  padding-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 30px;

}
.footer {
  background-color: #263d50f8;
}
.header {
  background-color: #263d50f8;
}
a:hover {
  text-decoration: none;
}
.pagination {
  justify-content: center;
}
