.tab-game-frame {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #263d50f8;
}

.tab-game-name {
    color: white;
    margin-top: 10px;
}

.tab-game-details {
    color: gray;
    margin-top: 30px;
}
.tab-game-details a{
    color: gray;
}
.tab-game-details a:hover{
    color: white;
}

.body {
    background-color: #2d4a63;
}

.tag-button {
    background-color: #3d6181f8;
    color: white;
    width: 7.5vw;
    height: 40px;
    font-size: 1.6vh;
    margin: 5px 0px 5px 0px;
}

.tag-button:hover {
    background-color: #29455cf8;
}

.tag-category-header {
    color: white;
}

.login-frame {
    padding-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 30px;
}

.navbar {
    background-color: #263d50f8;
    font-size: large;
    color: white;
}


.header {
    background-color: #263d50f8;
}

a:hover {
    text-decoration: none;
}

.pagination {
    justify-content: center;
}

#login-nav-bar {
    justify-content: left;
}

.dropdown-item {
    color: white;
}

.navbar {
    height: 120%;
}

.game-info-frame {
    color: white;
    background-color: #263d51;
}

.game-info-frame img{
    width: 90%;
    margin-top: 5%;
    margin-bottom: 5%;

}

.login-info-frame {
    width: 100%;
    height: 100%;
}

.media-frame {
    margin-top: 10px;
}

.game-info-frame img{
    width: 100%;
}

.navbar-right-frame {
    align-items: flex-end;
}